.idea/modules/
.idea/artifacts
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/compiler.xml
.idea/uiDesigner.xml
*.iml
*.ipr
.idea/**/gradle.xml
.idea/**/libraries

.gradle
build/
out/
META-INF/
